.header{
    background-image: url(../img/fondo4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#palabras-header{
    color:aqua;
    font-family:'Noto Serif Gujarati', serif;
    font-size: 200%;
    text-decoration: none;
  }

  .columna-central{
    color: aqua;
    background-color: rgb(0, 0, 0);
    height: 70vh;
    border: 3px solid aqua;
    
  }
  .lista{
    color: aqua;
  }
