.header{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
}

.cuadro{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
gap: 0;
 width: 100vw;
max-width: 600px;
}

.celda{
    background-color: black;
    border: 3px solid aqua;
    aspect-ratio: 1;

    
}
#palabras-header{
  color: aqua;
  font-family:'Noto Serif Gujarati', serif;
  font-size: 200%;
  text-decoration: none;
}

