


.header{
    background-image: url(../img/fondo4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


#enunciado{

    height: 50%;
    width: 50%;
}

#dibujoportada{
    
    height: 15%;
    width: 10%;
}

#palabras-header{
    color:aqua;
    font-family:'Noto Serif Gujarati', serif;
    font-size: 200%;
    text-decoration: none;
  }




