


.header{
    background-image: url(/proyecto-semana3/img/fondo1.2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#enunciado{

    height: 50%;
    width: 50%;
}

#dibujoportada{
    
    height: 15%;
    width: 10%;
}




